{% extends "top.html" %} 
{% block title %}{% endblock %} 
{% block head %} 
    {{ super() }} 
{% endblock %} 
{% block content %}
<br>
<h1 style="text-align: center;" >공공 빅데이터 분석 공모전 </h1> <br>
<div style="float: right; width: 50%;" >
    <img src="/static/img/홍보포스터1.png" style="max-width:100%;  max-height: 50%;">
</div> 

<div style="float: left; width: 50%;">
    
    <hr style="border-top: 3px solid black; margin-right: 10px;">
    <h4><b>공모전 설명</b></h4><br>
    
    <p>
        사회현안에 대한 빅데이터 분석 및 시각화를 후 <br>
        그것을 바탕으로 어떻게 해결해 나가면 좋을지 <br>
        방향 제시
    </p>
</div>
<div style="float: left; width: 50%;" >
    <img src="/static/img/data1.PNG" style="max-width:100%;  max-height: 50%;">
</div> 
<br>
<div style="float: right; width: 50%;">
    
    <hr style="border-top: 3px solid black; margin-left: 10px;">
    <h4 style="margin-left: 10px;"><b>공모전 역활</b></h4><br>
    
    <p style="margin-left: 10px;">
        자료수집 및 데이터 시각화 해결방안 아이디어 제시<br><br>
    
        <a href="https://drive.google.com/file/d/1M239xTD-0FRrDIUaiPt_et8yDx1cSPJL/view?usp=sharing" target="_blank">제출 파일</a> <br><br>
    </p>
    
</div>
</body>
</html>
{% endblock %}