{% extends "top.html" %} 
{% block title %}{% endblock %} 
{% block head %} 
    {{ super() }} 
{% endblock %} 
{% block content %}
<br>
<h1 style="text-align: center;" >프로필 </h1>
  <br>
  <div style="float: left; width: 50%;">
    <img src="/static/img/12.jpg" style="max-width:100%;  max-height: 50%; margin: 10px;">
</div>
<div style="float: right; text-align: left; width: 50%;" >
  <hr style="border-top: 3px solid black;">
  <p><h4>상세 정보</h4> </p><br>
    이 름 : 김창규<br><br>
    출 생 : 1977-05-29<br><br>
    email : rlackdrb2904@naver.com<br><br>
    주 소 : 경상남도 밀양시 내이신촌 1길 20-9<br>
    <hr>
    <h4>학력 사항</h4><br>
     2016-03 ~ 2021-02 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 경남정보대학교 컴퓨터계열 IOT전공 졸업<br><br>
     2020-07 ~ 2020-09 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 청년 취업 아카데미 딥 러닝 기반 디지털 머신비전 과정 이수<br>
     <hr>
     <h4>자격 정보</h4><br>
     코딩마스터알고리즘<br><br>
     ITQ 정보기술자격(아레한글, 파워포인트)<br>
     <hr>
     <h4>취 미</h4><br>
     게임 

</div>

</body>
</html>
{% endblock %}