{% extends "top.html" %} 
{% block title %}{% endblock %} 
{% block head %} 
    {{ super() }} 
{% endblock %} 
{% block content %}
<br>
<h1 style="text-align: center;" > 3D 턴제 게임 </h1> <br>
<div style="float: right; width: 50%;" >
    <img src="/static/img/pw1.PNG" style="max-width:100%;  max-height: 50%;">
</div> 

<div style="float: left; width: 50%;">
    
    <hr style="border-top: 3px solid black; margin-right: 10px;">
    <h4><b>작품 설명</b></h4><br>
    
    <p>
        
        3D 턴제 전략 RPG 기획안 <br>
        탑형 던전을 클리어 하며 점차 위로 올라가는 배경<br>
        1개의 층에는 3개의 스테이지 존재<br> 
        <br><br>
        
    </p>
        
</div>
<div style="float: left; width: 50%;" >
    <img src="/static/img/pw2.PNG" style="max-width:100%;  max-height: 50%;">
</div> 
<br>
<div style="float: right; width: 50%;">
    
    <hr style="border-top: 3px solid black; margin-left: 10px;">
    <h4 style="margin-left: 10px;"><b>작품 설명</b></h4><br>
    
    <p style="margin-left: 10px;">
        <a href="https://docs.google.com/document/d/1MvkqfRh3F8PGkEBy7VxKKA-QMUWSxPAkp5UTQeIba0c/edit?usp=sharing" target="_blank">기획안</a> <br>
    </p>
        
</div>
</body>
</html>
{% endblock %}